<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/icon.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>{{errorMessage}}</h3>
    </div>

    {{>footer}}
</body>

</html>